{:paths ["src"],
 :deps
 {c4605.utils/c4605.utils
  {:git/url "https://github.com/bolasblack/c4605.utils",
   :sha "5f4f6298ce798667dd02d97fe6b3b97309241fc0"},
  org.clojure/core.async {:mvn/version "0.4.474"}},
 :aliases
 {:test {:extra-deps {pjstadig/humane-test-output {:mvn/version "0.8.3"}}, :extra-paths ["test"]}}}
